<div class="grid">
  <div class="col-offset-1"></div>
  <div class="col-11">
    <h2>Asignacion de Materias a Profesores</h2>
  </div>
</div>

<form [formGroup]="profesorForm">
  <div class="grid">
    <div class="col-offset-1"></div>
        <mat-form-field class="col-3">
          <mat-label>Profesor</mat-label>
          <mat-select formControlName="idProfesor">
            @for (profesor of profesores; track profesor) {
              <mat-option [value]="profesor.id">{{profesor.nombre}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>Materia</mat-label>
          <mat-select formControlName="idMateria">
            @for (materia of materiaCompuesta; track materia) {
              <mat-option [value]="materia.id">{{materia.materiaGG}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
    </div>
  <div class="grid">
    <div class="col-offset-1"></div>
      <div class="col-11">
        <button mat-flat-button (click)="guardar()">Guardar</button>
    </div>
  </div>
</form>