<div class="grid">
    <div class="col-offset-1"></div>
    <div class="col-10">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Escribe las iniciales" #input>
        </mat-form-field>
        <!--<div>
            <button mat-button routerLink="/new-dato">NUEVO PACIENTE</button>
        </div>-->
            

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef> Edad </th>
            <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="grado">
            <th mat-header-cell *matHeaderCellDef> Grado </th>
            <td mat-cell *matCellDef="let element"> {{element.grado}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="grupo">
                <th mat-header-cell *matHeaderCellDef> grupo </th>
                <td mat-cell *matCellDef="let element"> {{element.grupo}} </td>
                </ng-container>

                <!-- Symbol Column -->
            <ng-container matColumnDef="turno">
                <th mat-header-cell *matHeaderCellDef> Turno </th>
                <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
                </ng-container>

            <!--<ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div class="example-button-row">
                        <button mat-button (click)="openDialog(element.id)">Ver</button>
                        <button mat-button [routerLink]="['/pdf/',element.id]">PDF</button>
                        <button mat-button [routerLink]="['/new-dato/',element.id]">Editar</button>
                        <button mat-button (click)="deleteDatosGenerales(element.id)">Eliminar</button>
                      </div>
                </td>
            </ng-container>-->
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </div>
</div>